:root{
    --White: hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);

    --font-size : 16px;
}
*{
box-sizing: border-box;
}

body{
    background-color: var(--lightPink);
    background-image: url('assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    
    min-height: 100vh;
}
main{
    background-color: var(--White);
    border-radius: 10px;
    margin: auto;
    padding: 20px 20px;
    width: clamp(320px, 80%, 600px);
}
/* fonts */
h1, h2{
    color: var(--darkPurple);
}

h2{
    flex-grow: 1;
    font-size: 1.15rem;
    max-width: 80%;
}
p{
    font-weight: 300;
    font-size: 1.08rem;
    color: var(--grayishPurple);
}


header{
    display: flex;
    align-items: center;
}
header img{
    margin-right: 30px;
    height: 25px;
    width: 25px;
}

section > div{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.second p, .third p, .fourth p{
    display: none;
}
button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    justify-self: right;
    margin: 0;
    padding: 0;
    width: fit-content;
    position: absolute;
    left: 91%;
}
button:hover{
    cursor: pointer;
}
